<!DOCTYPE html>
<html lang="es">

{% extends "base.html" %}

{% block content%}
<h1>Task</h1>

<ul>
    {% for task in tasks %}
    <li>
        <a href="{% url "task_detail" task.id %}">
             <! estas son las variables definidas en models>
             <h1>{{task.title}}</h1>
             <p>{{task.description}}</p>
             <p>{{task.user.username}}</p>
             {% if task.important %}
             <strong>{{task.title}}</strong>
             {% else %}
                  {{task.title}}
             {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}